{% extends 'main.html' %}
{% block title %}fetchCitation{% endblock %}
{% block content %}

<div class="container">

    <!-- Form for return_author_list_counts_search() -->
    <div class="col-md-10">
        <form action="{{ url_for('return_author_list_counts_search') }}" method="post">
            <div class="form-group">
                <div class="form-group row">
                    <label class="col-6 col-form-label">Enter PubMed search
                        string</label>
                    <div class="col-12">
                        <input class="form-control" type="search" value="" name="search_string" required="true">

                        <input type="radio" name="option" value="aggressive_exclude_source"> Exclude any papers
                        written by co-authors. (Includes only papers authored exclusively by people who are not
                        coauthors on any of the source list of publications.)<br>

                        <input type="radio" name="option" value="all" checked="checked"> Include everything <br>
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px" name="action"
                                value="Download">Download list
                        </button>

                        <button type="submit" class="btn btn-primary" style="margin-top: 20px" name="action"
                                value="View">View list
                        </button>


                    </div>
                </div>

            </div>
        </form>

        <!-- Form for return_authorListCounts() -->
        <form action="{{ url_for('return_authorListCounts') }}" method="post">
            <div class="form-group">
                <div class="form-group row">
                    <label class="col-6 col-form-label">Enter list of PMIDs</label>
                    <div class="col-12">
                        <input class="form-control" type="search" value="" name="input_PMID_List" required="true">

                        <input type="radio" name="option" value="aggressive_exclude_source"> Exclude any papers
                        written by co-authors. (Includes only papers authored exclusively by people who are not
                        coauthors on any of the source list of publications.)<br>

                        <input type="radio" name="option" value="all" checked="checked"> Include everything <br>
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px" name="action"
                                value="Download">Download list
                        </button>

                        <button type="submit" class="btn btn-primary" style="margin-top: 20px" name="action"
                                value="View">View list
                        </button>

                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

{% endblock %}
