{% extends 'main.html' %}
{% block title %}fetchCitation{% endblock %}
{% block content %}

<div class="container">
    <form action="{{ url_for('return_csv') }}" method="post">

        <table class="tableSection">
            <thead>
            <tr>
                <td>Author name</td>
                <td>Citation count</td>
                <td>Cited PMIDs</td>
            </tr>
            </thead>
            {% for author, citation_count, cited_PMIDs in dict %}
            <tr>
                <td> {{ author }}</td>
                <td> {{ citation_count}}</td>
                <td> {{ cited_PMIDs }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="form-group">
            <div class="form-group row">
                <input type="hidden" name="author_list" value="{{dict}}">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px" name="action"
                        value="Download">Download list
                </button>


            </div>

        </div>
    </form>
</div>

</div>


{% endblock %}
